# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Data
data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/
checkpoints/

# Experiments
mlruns/
wandb/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db
